
{% extends 'base.html' %}
{% block title %} Property Detail {% endblock %}
{% block homeactive %} active {% endblock homeactive %}

{% block body %}
<div class="container mx-auto">
  <!-- <h4>Details about {{property.title}}</h4> -->
  <div class="row">
      <div class="col-md-9">
        <div class="card mb-4 shadow-sm" marginLeft="100px">
            <h4>Interested Users</h4>
            <ul>
              {% for user in interested_users %}
                <li>{{ user.username }} - {{ user.email }} - {{user.userprofile.contact_number}}</li>
              {% empty %}
                <li>No interested users found</li>
              {% endfor %}
            </ul>
              <!-- <div class="btn-group">
                <a href="{% url 'property_detail' property.id %}" class="btn btn-sm btn-outline-secondary">View</a>
              </div> -->
              <!-- {% if request.user.is_authenticated and request.user != prop.agent %} -->
                
              <!-- {% endif %} -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <p>No properties available.</p> -->

  </div>
{% endblock %}
{% block js %} 
<script></script>
{% endblock %}
